<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.css' rel='stylesheet'>
    <%= stylesheet_link_tag 'site' %>
    <title>Show Not Tell<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
      <header>
          <div class="grid-container">
            <div class="row">
              <div class="col-6">
                <a href="/"><h1>Show Not Tell</h1></a>
                <h1 class="<%= current_page.data.color unless current_page.data.nil? %>"><%= current_page.data.title unless current_page.data.nil? %></h1>
              </div>
             <div class="burger-holder">
                <div class="hamburger">
                    <div class="burger line-1"></div>
                    <div class="burger line-2"></div>
                    <div class="burger line-3"></div>
                </div>
              </div>
              <div class="col-6">
                <nav>
                  <ul>
                    <li><%= link_to 'Collections', '/collections' %></li>
                    <li><%= link_to 'About', '/about' %></li>
                    <li><%= link_to 'Journal', '/journal' %></li>
                    <li class="cta"><%= link_to 'Suggest Collection', '/collections#suggest' %></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
      </header>
      <%= yield %>
      <footer>
        <div class="grid-container">
          <div class="row">
            <div class="col-3">
              <h4>Show Not Tell</h4>
              <p>The Media Centre, </br>7 Northumberland Street, </br>Huddersfield, </br>HD1 1RL </p>
            </div>
            <div class="col-3">
              <h4>Get In Touch</h4>
              <a href="tel:01484 599333">01484 599333</a>
              <a href="mailto:info@show-not-tell.com">info@show-not-tell.com</a>
            </div>
            <div class="col-3">
              <h4>Social</h4>
              <a class="twitter" href="tel:01484 599333">Twitter</a>
              <a class="facebook" href="mailto:info@show-not-tell.com">Facebook</a>
              <a class="email" href="mailto:info@show-not-tell.com">Instagram</a>
            </div>
            <div class="col-3">
              <h4>Terms and Conditions</h4>
              <p>&#169; Show Not Tell <%= Date.today.year %></p>
              <p class="miln">Show Not Tell is a project <a href="www.miln.co">Made By Miln</a></p>
            </div>
          </div>
        </div>
      </footer>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script>
      <%= javascript_include_tag 'global' %>
      <script>
        $("img.lazy").lazyload({
            effect : "fadeIn"
        });
      </script>
      <script>

      $( document ).ready(function() {
          fly();
      });

      mapboxgl.accessToken = 'pk.eyJ1IjoidGR3Y2tzIiwiYSI6IlhwMGlGR28ifQ.irq5Rbn1WvGb_VIwn1auNA';
        var start = [-0.1477, 51.5797];
        var end = [-0.1337, 51.5797];
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/tdwcks/cinczezx500yvx9nom0uo3cym',
            // style: 'mapbox://styles/mapbox/streets-v8',
            attributionControl: false,
            center: start,
            zoom: 16,
            interactive: false,
            "layers": [ 
            {
              "geojson-marker": {
                'id': 'museums',
                'type': 'circle',
                'source': 'museums',
                'layout': {
                    'visibility': 'visible'
                },
                'paint': {
                    'circle-radius': 8,
                    'circle-color': 'rgba(55,148,179,1)'
                },
                "geometry": {
                  "type": "Point",
                  "coordinates": [-0.1537, 51.5797]
                }
              }
            }
          ]
        });

        var isAtStart = true;

        function fly() {
            var target = isAtStart ? end : start;
            isAtStart = !isAtStart;
            map.flyTo({
                center: target,
                zoom: 16,
                bearing: 0,
                speed: 0.01, 
                easing: function (t) {
                    return t;
                }
            });
        }
      </script>
  </body>
</html>
